body {background-color: #778899; background:
}
h1 {text-align: center; color: #FFFFF0; font-family: Impact;
}
.Subtitle {text-align: center; color: #FFFFF0; font-family: Comic Sans MS; font-style: oblique;
}
h3 {color: #FFFFF0; font-family: Comic Sans MS;
}
p {color: white; text-align: center; padding: 10px 200px 30px 200px;
}
.fa {padding: 10px 10px 10px 10px;}
