body {background-color: #778899;
}
h1 {text-align: center; color: #FFFFF0; font-family: Impact;
}
.Subtitle {text-align: center; color: #FFFFF0; font-family: Comic Sans MS; font-style: oblique;
}
h3 {color: #FFFFF0; font-family: Comic Sans MS;
}
p {color: white; text-align: center; padding: 10px 200px 30px 200px; font-size: 20px;
}
.contact {padding: 20px 20px 20px 20px;
}
.fa {padding: 10px 10px 10px 10px;}

.center{
  text-align: center:
}

.twitter-timeline{
  margin: auto;
}

.fa {
  padding: 15px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
}
